
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About</h2>
<h3>We only link to Amazon.</h3>
<br />
    Amazon has great prices, fast shipping, excellent customer support, and a massive catalog.<br />
<br />
    Only linking to Amazon makes shopping fast, easy, painless.<br />
<br /><br />
<h3>We are a Wiki about Buys.</h3><br />
    Our catalog is community driven and maintained by people. For Humans By Humans.
