
@{
    ViewBag.Title = "Manage Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="UserHeader liked-page">
        <div class="UserHeader-AvatarContainer">
            <img src="@ViewBag.imageUrl" style="max-height:200px; max-width:100%;">
           
        </div>
        <div class="primary-cta"> 
            <a href="/Account/ChangePicture/" data-reveal-id="myModal" data-reveal-ajax="true" class="button edit fancybox fancybox.ajax profile-action">
                Edit
            </a>
        </div>
        <div class="UserInfo">
            <a class="UserInfo-Name" href="/Account/">@ViewBag.FirstName @ViewBag.LastName</a>
            
            <div class="UserInfo-Bio">
                <a class="fancybox" href="/Account/Manage/">
                    Change Password
                </a>
            </div>
        </div>
        <section class="gs-modal">
            <div class="reveal-modal-bg" style="display: none"></div>
            <div id="myModal" class="reveal-modal remove-whitespace" data-reveal> </div>
        </section>
    </div>
</div>

