@model IEnumerable<seoWebApplication.Models.Subcategories>

@foreach (var item in Model)
{
    <li>
        <a href="/Subcategory/@Html.DisplayFor(modelItem => item.Name)/" title="@Html.DisplayFor(modelItem => item.Description)">@Html.DisplayFor(modelItem => item.Description)</a>
    </li>
}



